Source/.vs
Source/AcerUserSensing/bin
Source/AcerUserSensing/obj
Source/AcerUserSensingPackage/bin
Source/AcerUserSensingPackage/obj
Source/AcerUserSensingPackage/AppPackages
Source/AcerUserSensingPackage/BundleArtifacts